div{
    background-image: url("https://scontent.fhan2-2.fna.fbcdn.net/v/t1.0-9/37578948_1843139549108361_8091339771411955712_n.jpg?_nc_cat=110&oh=acd2a7c0779c744a2f41a10adda32d78&oe=5C24BA91");
    width: 1200px;
    height: 760px;
    padding: 55px;
    background-repeat: round;
}